@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

body {
  background-color: black;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(46, 49, 232, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  z-index: 100;
  transition: transform 0.3s ease;
}

.glass:hover {
  transform: scale(1.1);
}

.submit {
  box-shadow: 0 10px 20px rgba(29, 88, 225, 0.5),
    0 6px 6px rgba(29, 88, 225, 0.5), 0 0 100px -10px white;
  transition: box-shadow 0.3s;
}

.submit:hover {
  box-shadow: 0 14px 28px rgba(241, 245, 249, 0.5),
    0 10px 10px rgba(241, 245, 249, 0.5), 0 0 120px -10px white;
}

.socials {
  transition: transform 0.3s ease;
}

.socials:hover {
  transform: translateY(-5px);
}

.btn {
  box-shadow: 0 0 10px 5px #74b1d2, 0 0 15px 7px #caece5;
}

input {
  width: 250px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}
